body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: linear-gradient(to bottom, #4fc4f6, #0da276);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 0 0 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {

  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;

}

.buttonHolder{ text-align: center; }

input[type="number"], .hint-btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.hint {
  width: 30px;
  height: 30px;
  border-radius: 90%;

  background-color: #ccc;
  color: #fff;
  cursor: help;
}



